<!-- search/deckInfo.hbs -->
<div class="row pattern-empty avoidSticked" style="min-height:90vh; background-image: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url(/img/deck/decks_b.png);">
    <div class="container-fluid">
        <div class="row pattern-dark">
            <div class="col-xs-12">
                <h2>{{newDeck.title}}</br><span class="innerheader" style="font-size: 20px;">by {{newDeck.author}}</span></h2>
            </div>
        </div>
        <!-- ============== START BIG DIVIDER ============== -->
        <div class="Divider">
            <hr class="Divider-rule">
        </div>
        <!-- ============== END BIG DIVIDER ============== -->
        <!-- ===== START DESCRIPTION AND CARDS ===== -->
        <div class="container mw750">
        <div class="col-xs-12" style="margin-top: 30px">
                    <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper" style="margin-bottom:25px">
                <p>&nbsp;</p>
            </div>
        <!-- /INNER DIVIDER -->
            <form id="update-info" class="contact-form" action="/makeDeck/modify/text" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xs-12 col-sm-6"><label class="deck" for="title">Deck title</label><input class="title" name='title' type='text' value="{{newDeck.title}}" style="text-align:left;"></div>
                <div class="col-xs-12 col-sm-6"><label class="deck" for="title">Deck custom image</label><input style="display:inline" type="file" name="photo"></div>
            </div>
                <label class="deck" for="title">Description</label>
                <textarea name="description" placeholder="" rows="4" cols="">{{newDeck.description}}</textarea>
                    <div class="row text-center">
                                <a href="javascript:$('#update-info').submit();"  class="button-game btn-search" style="max-width:180px;min-width:140px">
                                    <span class="button-game-bg-left"></span>
                                    <span class="button-game-bg-mid">
                                        <span>Update</span>
                                    </span> 
                                    <span class="button-game-bg-right"></span>
                                </a>
                    </div>
            </form>
            <p>{{newDeck.mistakes}}</p>
        </div>
        <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper" style="margin-bottom:25px">
                <p>&nbsp;</p>
            </div>
        <!-- /INNER DIVIDER -->
        <!-- ===== START SAVE BTN ===== -->
        <div class="container mw750">
                    <div class="col-xs-12 text-center">
                        <form id="save"action="/makeDeck/save" method="GET">
                            <div class="row text-center">
                                <a href="javascript:$('#save').submit();"  class="button-game btn-search" style="max-width:322px;min-width:140px">
                                    <span class="button-game-bg-left"></span>
                                    <span class="button-game-bg-mid">
                                        <span>Save</span>
                                    </span> 
                                    <span class="button-game-bg-right"></span>
                                </a>
                            </div>
                        </form>
                    </div>
                <div class="row">
                    <hr class="invisible">
                </div>
        </div>
        <!-- ===== END SAVE BTN ===== -->
        <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper" style="margin-bottom:25px">
                <p>&nbsp;</p>
            </div>
        <!-- /INNER DIVIDER -->
        <!-- ===== START DECK CARDS HEADER =====-->
        <div class="col-xs-12">
            <p class="innerTitle">Main deck</p>
            <hr class="invisible">
        </div>
        <!-- ===== END DECK CARDS HEADER =====-->
        <!-- ===== START MAIN DECK =====-->
        {{#if newDeck.cards.main.creatures}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Creatures</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.creatures}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
        <hr class="invisible">
    </div>
    {{/if}}
    {{#if newDeck.cards.main.artifacts}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Artifacts</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.artifacts}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
        <hr class="invisible">
    </div>
    {{/if}}
    {{#if newDeck.cards.main.enchantments}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Enchantments</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.enchantments}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
      <hr class="invisible">
    </div>
    {{/if}}
    {{#if newDeck.cards.main.instants}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Instants</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.instants}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
      <hr class="invisible">
    </div>
    {{/if}}
     {{#if newDeck.cards.main.sorceries}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Sorceries</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.sorceries}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
      <hr class="invisible">
    </div>
    {{/if}}
    {{#if newDeck.cards.main.planeswalkers}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Planeswalkers</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.planeswalkers}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
      <hr class="invisible">
    </div>
    {{/if}}
   {{#if newDeck.cards.main.lands}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Lands</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.lands}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
      <hr class="invisible">
    </div>
    {{/if}}
    {{#if newDeck.cards.main.others}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerheader">Others</p>
                    <hr class="invisible">
                </div>
            </div>
        {{#each newDeck.cards.main.others}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" action="/makeDeck/modify/main/{{card.id}}" method="POST" style="display:inline">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/main/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/main/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="side">Side deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
        {{/each}}
        </div>
    <div class="row">
      <hr class="invisible">
    </div>
    {{/if}}
    <!-- ===== END MAIN DECK ===== -->
    <!-- ===== START SIDEBOARD ===== -->
        {{#if newDeck.cards.side}}
        <div class="container mw750">
            <div class="row">
                <div class="col-xs-12">
                    <p class="innerTitle">Sideboard</p>
                    <hr class="invisible">
                </div>
            </div>
            {{#each newDeck.cards.side}}
            <div class="row" style="margin-bottom:2px">
            <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
                <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
                <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
                <form id="modify-count-{{card.id}}" class="contact-form-deck" style="display:inline" action="/makeDeck/modify/side/{{card.id}}" method="POST">
                    <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                    <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                        <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                    </a>
                </form>
                <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
            <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/side/{{card.id}}' method='GET' style="display:inline">
                <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                    <span class="ion-trash-a" style="font-size:22px;"></span>
                </a>
            </form>
            </div>
            <div class="col-xs-12 col-sm-3" style="">
            <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/side/{{card.id}}" method="POST" style="display:inline">
            <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="main">Main deck</option><option value="undecided">Undecided</option></select>
                <a href="javascript:$('#move-card-{{card.id}}').submit();">
                    <span class="ion-arrow-swap" style="font-size:22px"></span>
                </a>
            </form>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><hr class="solid" style=""></div>
            </div>
            {{/each}}
        </div>
    <div class="row">
      <hr class="invisible">
    </div>
    {{/if}}
<!-- ===== END SIDEBOARD ===== -->
<!-- ===== START UNDECIDED ===== -->
    {{#if newDeck.cards.undecided}}
    <div class="container mw750">
        <div class="row">
            <div class="col-xs-12">
                <p class="innerTitle">Undecided</p>
                <hr class="invisible">
            </div>
        </div>
        {{#each newDeck.cards.undecided}}
        <div class="row" style="margin-bottom:2px">
        <div class="col-xs-12 col-sm-9 features-item" style="margin-bottom:10px">
            <span data-toggle="modal" data-target="#shop-modal" style="cursor: pointer;">
            <img src="{{card.image_uris.png}}" style="display:none" class="features-img" data-id="{{card._id}}" data-name="{{card.name}}" data-img="{{card.image_uris.png}}" data-type="{{card.type_line}}" data-power="{{card.power}}" data-toughness="{{card.toughness}}" data-buy="https://www.cardmarket.com/es/Magic/Products/Search?searchString={{card.name}}" data-setname="{{card.set_name}}">
            <form id="modify-count-{{card.id}}" class="contact-form-deck" style="display:inline" action="/makeDeck/modify/undecided/{{card.id}}" method="POST">
                <input name='count' type="number" value={{count}} min="1" class="m-2" style="display: inline; vertical-align: middle; width:40px">
                <a href="javascript:$('#modify-count-{{card.id}}').submit();" class="nospace">
                    <span class="ion-refresh" style="font-size:22px; padding-top:8px" style=""></span>
                </a>
            </form>
            <p style="display:inline;" class="shadow">{{card.name}}&nbsp;</p><span class="mana-cost">{{card.mana_cost}}</span>
        <form class="" id="delete-card-{{card.id}}" action='/makeDeck/delete/undecided/{{card.id}}' method='GET' style="display:inline">
            <a href="javascript:$('#delete-card-{{card.id}}').submit();">
                <span class="ion-trash-a" style="font-size:22px;"></span>
            </a>
        </form>
        </div>
        <div class="col-xs-12 col-sm-3" style="">
        <form id="move-card-{{card.id}}" class="contact-form-deck" action="/makeDeck/move/undecided/{{card.id}}" method="POST" style="display:inline">
        <select name="place" id="place" style="display:inline; vertical-align:middle; height:30px"><option value="main">Main deck</option><option value="side">Sideboard</option></select>
            <a href="javascript:$('#move-card-{{card.id}}').submit();">
                <span class="ion-arrow-swap" style="font-size:22px"></span>
            </a>
        </form>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12"><hr class="solid" style=""></div>
        </div>
        {{/each}}
    </div>
    <div class="row">
        <hr class="invisible">
    </div>
    {{/if}}
<!-- ===== END UNDECIDED ===== -->
        <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper" style="margin-bottom:25px">
                <p>&nbsp;</p>
            </div>
        <!-- /INNER DIVIDER -->
    <!-- ===== START SAVE BTN ===== -->
    <div class="container mw750">
                <div class="col-xs-12 text-center">
                    <form id="save"action="/makeDeck/save" method="GET">
                        <div class="row text-center">
                            <a href="javascript:$('#save').submit();"  class="button-game btn-search" style="max-width:322px;min-width:140px">
                                <span class="button-game-bg-left"></span>
                                <span class="button-game-bg-mid">
                                    <span>Save</span>
                                </span> 
                                <span class="button-game-bg-right"></span>
                            </a>
                        </div>
                    </form>
                </div>
            <div class="row">
                <hr class="invisible">
            </div>
    </div>
    <!-- ===== END SAVE BTN ===== -->
        <!-- INNER DIVIDER -->
            <div class="col-xs-12 items-container bottom-wrapper" style="margin-bottom:25px">
                <p>&nbsp;</p>
            </div>
        <!-- /INNER DIVIDER -->
</div>

<div class="container-fluid">
        <div class="Divider">
            <hr class="Divider-rule">
        </div>
    <div class="row pattern-dark" >
        <div class="container mw750">
            <form id="form" class="contact-form search-form" action="/makeDeck/search" method="POST" style="margin-top:35px">
            <div class="col-xs-11" style="padding-right:0px;max-width:657px">
                <input style="margin-bottom:5px;" type="text" name="name" placeholder="Card name" onfocus="this.placeholder=''" onblur="this.placeholder='Card name'"/>
            </div>
            <div class="col-xs-1 text-center" style="padding-left:0px;">
                <span onclick="showHide('advParams')" style="display:inline"class="ion-android-arrow-dropdown-circle search-dropdown"></span>
            </div>
            <!-- ===== START ADVANCED SEARCH FIELDS =====-->
            <div class="col-xs-11" style="padding-right:0px; max-width:657px">
                <div id='advParams' class='hide-element'>
                <input  type="text" name="type" placeholder="Type" onfocus="this.placeholder=''" onblur="this.placeholder='Type'" style="margin-bottom:5px;"/>
                <input  type="text" name="subtype" placeholder="Subtype" onfocus="this.placeholder=''" onblur="this.placeholder='Subtype'"style="margin-bottom:5px;"/>
                <input  type="text" name="set_name" placeholder="Set Name" onfocus="this.placeholder=''" onblur="this.placeholder='Set Name'"style="margin-bottom:5px;"/>
                {{!-- <input  type="text" name="colors" placeholder="Colors" onfocus="this.placeholder=''" onblur="this.placeholder='Colors'" style="margin-bottom:5px;"/> --}}
                <select class="" name='legalities' id='legalities-select' style="margin-bottom:10px;">
                    <option selected="">Legality</option>
                    <option value="standard">Standard</option>
                    <option value="future">Future</option>
                    <option value="historic">Historic</option>
                    <option value="pionner">Pionner</option>
                    <option value="modern">Modern</option>
                    <option value="legacy">Legacy</option>
                    <option value="pauper">Pauper</option>
                    <option value="vintage">Vintage</option>
                    <option value="penny">Penny</option>
                    <option value="commander">Commander</option>
                    <option value="brawl">Brawl</option>
                    <option value="duel">Duel</option>
                    <option value="oldschool">Oldschool</option>
                </select>
                <div class='colors-search-container'>
                    <input hidden id='W' type="checkbox" name="colors[]" value="W"><label for='W'><img id='searchW' class='color-unchecked color-search' src='/img/mana-cost/W.png' alt='W' onclick="clicked('searchW')"></label>
                    <input hidden id='G' type="checkbox" name="colors[]" value="G"><label for='G'><img id='searchG' class='color-unchecked color-search' src='/img/mana-cost/G.png' alt='G' onclick="clicked('searchG')"></label>
                    <input hidden id='B' type="checkbox" name="colors[]" value="B"><label for='B'><img id='searchB' class='color-unchecked color-search' src='/img/mana-cost/B.png' alt='B' onclick="clicked('searchB')"></label>
                    <input hidden id='R' type="checkbox" name="colors[]" value="R"><label for='R'><img id='searchR' class='color-unchecked color-search' src='/img/mana-cost/R.png' alt='R' onclick="clicked('searchR')"></label>
                    <input hidden id='U' type="checkbox" name="colors[]" value="U"><label for='U'><img id='searchU' class='color-unchecked color-search' src='/img/mana-cost/U.png' alt='U' onclick="clicked('searchU')"></label>
                </div>
                </div>
            </div> 
            <!-- ===== END ADVANCED SEARCH FIELDS =====-->  
            <div class="col-xs-11" style="padding-left:11px; padding-right:0px;max-width:678px">
                <a href="javascript:$('#form').submit();"  class="button-game btn-search">
                    <span class="button-game-bg-left"></span>
                    <span class="button-game-bg-mid">
                        <span class="ion-search  button-game-apple"></span><span>&nbsp;&nbsp;&nbsp;Search</span>
                    </span> 
                    <span class="button-game-bg-right"></span>
                </a>
            </div>
            </form>
        </div>
    </div>
    <!-- ============== DIVIDER ============== -->
    <div class="Divider">
        <hr class="Divider-rule">
    </div>
    {{#if cardAdded}}
    <div class="row" style="margin-top: 40px auto">
        <!-- ADD CHECK ICON HERE -->
        <p class="section-description" style="text-align:center">{{addedMessage}}</p>
    </div>
    <div class="container">
        <div class="col-xs-12 items-container bottom-wrapper">
        <p>&nbsp;</p>
    </div>
    </div>
    {{/if}}
    {{#if cardAdded}}
    <div class="row">
        <div class="col-12 text-center p-3">
            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <p class="d-inline">{{addedMessage}}</p>
        </div>
    </div>
    {{!-- add cards to maindeck, sidedeck or maybe --}}
    {{/if}}
    {{#if newDeck.results}}
        <!-- SEARCH RESULTS -->
        <div class="container" style="margin: 15px auto 70px auto">
            {{#each newDeck.results}}
                {{> addToDeckCard this}}
            {{/each}}
        </div>
    {{else}}
    <div class="container">
        <div class="col-xs-12">
             <h2>Search cards for your deck</h2>
             <p class="section-description" style="margin-bottom:45px">You can use and combine different types of criteria: name, type, subtype, set, legality or color.</p>
        </div>
    </div>
    {{/if}}
    </div>

