<div class="row">
    <div class='col-12'>
        <h1>{{newDeck.title}}</h1>
        <form action="/makeDeck/modify/text" method="POST">
        <input name='title' type='text' value="{{newDeck.title}}">
        <input name='description' type='text' value="{{newDeck.description}}">
        <button type='submit'>Change</button>
        </form>
        <p>{{newDeck.mistakes}}</p>
    </div>
    <div class='col-12'>
        <p>cards added</p>
        <div>
            <h3 class='col-12'>Main deck</h3>
            {{#each newDeck.cards.main}}
            <p>{{card.name}}</p>
            <form action="/makeDeck/modify/main/{{card.id}}" method="POST">
                <input name='count' type="number" value={{count}} min="1" class="m-2"
                    style="display: inline; max-width:40px">
                <button type='submit'>Modify count</button>
            </form>
            <form action="/makeDeck/move/main/{{card.id}}" method="POST">
                <label for="place">Add in:</label>
                <select name="place" id="place">
                    <option value="side">Side deck</option>
                    <option value="undecided">Undecided</option>
                </select>
                <button type='submit'>Move</button>
            </form>
            <form action='/makeDeck/delete/main/{{card.id}}' method='GET'>
                <button type='submit'>Delete</button>
            </form>
            {{/each}}
            <h3 class='col-12'>Side deck</h3>
            {{#each newDeck.cards.side}}
            <p>{{card.name}}</p>
            <form action="/makeDeck/modify/side/{{card.id}}" method="POST">
                <input name='count' type="number" value={{count}} min="1" class="m-2"
                    style="display: inline; max-width:40px">
                <button type='submit'>Modify count</button>
            </form>
            <form action="/makeDeck/move/side/{{card.id}}" method="POST">
                <label for="place">Add in:</label>
                <select name="place" id="place">
                    <option value="main">Main deck</option>
                    <option value="undecided">Undecided</option>
                </select>
                <button type='submit'>Move</button>
            </form>
            <form action='/makeDeck/delete/side/{{card.id}}' method='GET'>
                <button type='submit'>Delete</button>
            </form>
            {{/each}}
            <h3 class='col-12'>Undecided</h3>
            {{#each newDeck.cards.undecided}}
            <p>{{card.name}}</p>
            <form action="/makeDeck/modify/undecided/{{card.id}}" method="POST">
                <input name='count' type="number" value={{count}} min="1" class="m-2"
                    style="display: inline; max-width:40px">
                <button type='submit'>Modify count</button>
            </form>
            <form action="/makeDeck/move/undecided/{{card.id}}" method="POST">
                <label for="place">Add in:</label>
                <select name="place" id="place">
                    <option value="main">Main deck</option>
                    <option value="side">Side deck</option>
                </select>
                <button type='submit'>Move</button>
            </form>
            <form action='/makeDeck/delete/undecided/{{card.id}}' method='GET'>
                <button type='submit'>Delete</button>
            </form>
            {{/each}}
        </div>
        <form action="/makeDeck/save" method="GET">
            <button type='submit'>Save</button>
        </form>
    </div>
    <div class="col-12">
        <h2>Card search</h2>
    </div>
    <div class="col-12">
        <div>
            <form id="form" action="/makeDeck/search" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name" />
                <label for="type">Type:</label>
                <input type="text" name="type" />
                <label for="subtype">Subtype:</label>
                <input type="text" name="subtype" />
                <label for="set_name">Set:</label>
                <input type="text" name="set_name" />
                <label for="legality">Legality:</label>
                <input type="text" name="legality" />{{!-- change type text for predefined choices --}}
                <label for="colors">Colors:</label>
                <input type="text" name="colors" />
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
{{#if cardAdded}}
<div class="row">
    <div class="col-12 text-center p-3">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
        <p class="d-inline">{{addedMessage}}</p>
    </div>
</div>
{{!-- add cards to maindeck, sidedeck or maybe --}}
{{/if}}
<div class="row">
    {{#each newDeck.results}}
    {{> addToDeckCard this}}
    {{/each}}
</div>
</div>